parameters:


php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	database:
		dsn: %db.dsn%
		user: %db.user%
		password: %db.password%
		options:
			lazy: yes

	application:
		errorPresenter: Error
		mapping:
			*: *Presenter

	session:
		expiration: 14 days


services:
	- App\Model\UserManager
	- App\RouterFactory
	router: @App\RouterFactory::createRouter

	pdo: PDO(%db.dsn%, %db.user%, %db.password%)

	sqliteStorage:
		class: Nette\Caching\Storages\SQLiteStorage
		autowired: no

	# LazyDataMapper
	- LDMDemo\LazyDataMapperCache(@sqliteStorage)
	- LazyDataMapper\RequestKey
	- LDMDemo\EntityServiceAccessor
	# todo NetteExtension auto service registration
	- LazyDataMapper\SuggestorCache
	- LazyDataMapper\Accessor

	# Product model
	- Product\Facade
